$gray: #3D3A3B;
$brand: rgb(66,149,145);

$browser-context: 16;

$grid-columns:      12;
$grid-gutter-width: 1.875rem;

$xl-font: 2.25rem;
$lg-font: 2rem;
$md-font: 1.75rem;
$sm-font: 1.5rem;
$xs-font: 1.25rem;
$base-font: 1rem;

$sm-screen: "(min-width: 544px)";
$md-screen: "(min-width: 768px)";
$lg-screen: "(min-width: 992px)";
$xl-screen: "(min-width: 1200px)";

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin make-container($gutter: $grid-gutter-width) {
  margin-left: auto;
  margin-right: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix();
}

@mixin make-column($gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin make-column-centered() {
  float: none;
  margin: 0 auto;
  position: relative;
}

@mixin make-column-span($columns) {
  width: percentage(($columns / $grid-columns));
}

@mixin make-column-offset($columns) {
  margin-left: percentage(($columns / $grid-columns));
}
@mixin make-column-push($columns) {
  left: percentage(($columns / $grid-columns));
}
@mixin make-column-pull($columns) {
  right: percentage(($columns / $grid-columns));
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
