*, *:before, *:after {
  box-sizing: border-box;
}

.debug{
  border: 1px solid red !important;
}

@import "functions";
@import "normalize";

body{
  font-family: 'Open Sans', sans-serif;
}

a, a:focus, a:hover{
	text-decoration: none;
}

.browserupgrade {
	margin: 0.2em 0;
	background: yellow;
	color: #000;
	font-size: 1.2em;
	padding: 0.2em 0;
	text-align: center;
}

.text-center{
	text-align: center;
}

/*
  Typography
*/

h1, h2, h3{
  margin: 0 0 20px 0;
}

h4,h5,h6{
  margin: 0;
}


h1{
  font-size: 2.250rem;
}

h2{
  font-size: 2.000rem;
}

h3{
  font-size: 1.750rem;
}

h4{
  font-size: 1.500rem;
}

h5{
  font-size: 1.250rem;
}

h6{
  font-size: 1rem;
}

p{
  margin: 0 0 20px 0;
  padding: 0 20px;
  line-height: 1.6;
}


/*
  Grid & Layout
*/

#app{
  position: relative;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  &.loaded{
    opacity: 1;
  }
}

.container{
  width: 100%;
  @include flex();
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  @media #{$md-screen}{
    @include flex-direction(row);
  }
}

.resume{
  margin: 0 auto;
  max-width: 800px;

  h1, h2, h3, p{
    margin: 0;
    padding: 0;
  }
}

.flex-item{
  flex: 1 0 0;
}

img, object, video{
  width: 100%;
  max-width: 100%;
}

/*
  Header Specific & Navigation Styling
*/

header{
  background: #ccc;
  height: 50vh;
  width: 100%;
  background-size: contain;
  @include flex();

  @media #{$md-screen}{
    height: 80vh;
  }
}

#logo{
  background: url('../images/rs-logo.svg') no-repeat;
  background-size: contain;
  width: 300px;
  margin: 0 0 0 5%;
  text-indent: -999em;
  display: inline-block;
  align-self: center;


}


nav{
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 25;
}

nav ul{
  position: absolute;
  top: 50px;
  list-style: none;
  opacity: 0;
  padding: 0 20px;
  margin: 0;
  width: 100%;
  background: rgba(0,0,0,.75);
  transform: translateX(-500px);
  transition: all .5s ease;
  @media #{$md-screen}{
    width: 300px;
  }
  li{
    text-align: right;
    border-bottom: 5px solid rgba(0,0,0, .5);
    &:last-child{
      border-bottom: 0;
    }
    a{
      padding: 20px 0;
      display: inline-block;
      width: 100%;
      color: #fff;
      font-size: 24px;
    }
  }
}

nav ul.open{
  opacity: 1;
  transform: translateX(0);
}


.menu-toggle {
  position: fixed;
	width: 44px;
	height: 44px;
	float: right;
	top: 15px;
	right: 15px;
	z-index: 15;
  background: $brand;
  border-radius: 360px;
  box-shadow: 0px 3px 3px rgba(0,0,0,.3);
}

.menu-toggle .bar {
	background-color: white;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 100px;
	position: absolute;
	top: 22px;
	right: 12px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.menu-toggle .bar:first-child {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
}

.menu-toggle .bar:nth-child(3) {
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
}

.menu-toggle.x .bar:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-toggle.x .bar:nth-child(3) {
  opacity: 0;
}

.menu-toggle.x .bar:first-child {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

section{
  margin-top: 20px;
  margin-bottom: 20px;
}

#about{
  justify-content: center;
}

#about > div{
  flex: inherit;
  @media #{$md-screen} {
    width: 80%;
  }
  @media #{$lg-screen} {
    width: 60%;
  }
}

.gallery-item{
  position: relative;
  flex: 1 0 auto;
  p{
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    margin: 0 0 10px 0;
  }
}

.gallery-item:hover p{
  opacity: 1;
}


/*
  Contact Section
*/

#contact{
  text-align: center;
}

.icon{
  margin: 10px 15px;
  color: $gray;
  font-size: 2.25rem;
}



/*
  Footer Specific Styling
*/

footer{
  background: #ecf0f1;
  padding: 40px 0;
}

.copyright{
  margin: 0;
  flex: 1 100%;
  text-align: center;
}

/*
  Button and Styling
*/

.btn{
	display: inline-block;
	padding: .375rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	border: .0625rem solid transparent;
	border-radius: 0;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

.btn-inverse{
	color: #3D3A3B;
	background: none;
	border: 0.063rem solid #3D3A3B;
}

.btn-inverse:hover{
	background: #3D3A3B;
	color: #FFF;
}

button[disabled], html input[disabled]{
	cursor: not-allowed;
}

.error{
  background: #95a5a6;
  font-family: monospace;
  height: 100vh;
  width: 100vw;
  @include flex();
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
}
