
<footer>
  <div class="container">
    <p>&copy; {{ helpers.currentYear() }} Robert Skwiat</p>
    <ul class="footer-links">
      <li>
        <a
          class="accent"
          href="https://github.com/rskwiat/robertskwiat.com/issues"
          target="_blank noopener noreferrer">
        Leave Feedback</a>
        </li>
      <li><a class="accent" href="/privacy-policy/">Privacy Policy</a></li>
      <li><a class="accent" href="/blog/next-chapter">Human Made</a></li>
    </ul>
  </div>
</footer>