.label-font {
  font-family: var(--label-font);
}

.body-font {
  font-family: var(--body-font);
}

.accent {
  color: var(--accent-color);
}

.headline {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0 4rem 0;
}

.welcome .btn {
  margin-top: 6rem;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  padding: 0.8rem 1.6rem;
}

.btn-primary {
  background-color: var(--accent-color);
  font-family: var(--label-font);
  color: var(--button-text-color);
  transition: filter 350ms;
  &:hover {
    filter: brightness(85%);
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.8rem;
}

.desktop-nav {
  display: none;
}

.full-screen {
  height: 100vh;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mb {
  margin-bottom: 2rem;
}

.theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  cursor: pointer;
  background: none;
  border: 0;
}

.learn-more-link svg {
  display: inline-block
}

.footer-links {
  list-style: none;
  display: inline-block;  
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 0 0 2rem;
}

#icon-sun,
#icon-moon {
  stroke: var(--icon-fill-color);
}

@media (min-width: 676px) {
  .desktop-nav {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    a {
      display: block;
      margin: 0 0 2rem 0;
      width: 200px;
    }
  }

	.mobile-nav {
		display: none;
	}

}