<!doctype html>
<html lang="en">
  {% include "components/head.njk" %}

  <body>
    <main>
      {% include "components/dark-mode.njk" %}

      <div class="container">
        {{ content | safe }}

        {% include "components/see-more.njk" %}
      </div>

      <footer>
        <p>&copy; {{ helpers.currentYear() }} {{ settings.siteTitle }}</p>
      </footer>
    </main>
  </body>
  {% include "components/scripts.njk" %}

</html>
