<!doctype html>
<html lang="en">
  {% include "components/head.njk" %}

  <body>
    <main>
      <nav class="desktop-nav">
        {% for link in settings.navigation %}
          <a href="{{ link.url }}" data-scroll-to={{link.dataScrollTo}}>{{ link.title }}</a>
        {% endfor %}
      </nav>

      <nav class="mobile-nav">
        {% for link in settings.navigation %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>

      <div class="container">
        {{ content | safe }}
      </div>

      <footer>
        Footer
        {# <p>&copy; {{ "now" | date("YYYY") }} {{ settings.siteTitle }}</p> #}
      </footer>
    </main>
  </body>
</html>
