<!doctype html>
<html lang="en">
  {% include "components/head.njk" %}

  <body>
    <main>
      {% include "components/dark-mode.njk" %}

      <div class="container">
        <section>
        {{ content | safe }}
        </section>
      </div>
      {% include "components/footer.njk" %}
    </main>
  </body>
  {% include "components/scripts.njk" %}

</html>
