.btn{
	border: 2px solid $gray;
	font-size: 1.3rem;
	display: inline-block;
	transition: all 350ms ease-in-out;
	&:hover{
		background: $gray;
	}
 	a{
		display: block;
		padding: 1.2rem 2.4rem;
		&:hover{
			color: $white;
		}
	}
}

.icon{
  padding: 0 2rem;
}