---
layout: "layouts/base.njk"
title: Blog
---

{% block content %}
	{% for post in collections.blog %}
		<h1>{{ post.data.title }}</h1>
		<a href={{ post.url }}>Read More</a>

	{% endfor %}
{% endblock %}
