---
layout: "layouts/base.njk"
title: Contact
---

{% block content %}

<div id="contact" class="full-screen stack">

  <h1>Contact</h1>
  <p class="mb">Feel free to reach out to me via email or social media.</p>
  <ul class="contact-list">
    <li>
      <a class="headline label-font" href="mailto:rob@robertskwiat.com">
        Email: <span class="accent">rob@robertskwiat.com</span>
      </a></li>
    <li>
      <a
        class="accent headline label-font" 
        href="https://www.linkedin.com/in/robertskwiat/"
        target="_blank">
          LinkedIn
      </a>
    </li>
    <li>
      <a class="headline label-font" href="https://bsky.app/profile/rskwiat.github.io" target="_blank">
        Bluesky: <span class="accent">rskwiat.github.io</span>
      </a></li>
  </ul>
</div>


{%endblock %}