@import 'variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: $gray;
}

h1 { font-size: 3.3rem; }
h2 { font-size: 2.9rem; }
h3 { font-size: 2.6rem; }
h4 { font-size: 2.3rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.7rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem;
  font-weight: normal;
}

ul li,
p{
  margin: 0 0 2rem;
  line-height: 1.9;
  font-size: 1.6rem;
}

a{
  transition: all 400ms ease-in-out;
  color: $gray;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  position: relative;
}

.img-responsive {
  max-width: 100%;
  width: 100%;
}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    margin: 0;
    animation: loadingText 750ms ease-in-out infinite alternate;
  }
}

@keyframes loadingText {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}