$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$xlarge-width: 1200px;

$white: #fff;
$gray: #3d3a3b;

@mixin smallScreen {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin mediumScreen {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin largeScreen {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin xlargeScreen {
  @media (min-width: #{$xlarge-width}) {
    @content;
  }
}
